<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

 <div>
  <style>
    .navbar-custom {
      background-color:	#00008B; /* Replace with your desired shade of blue */
    }
  </style>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#">
      <img src="assets\Cosumar.jpg" alt="Logo" style="height: 40px; width: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-white" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a  class="nav-link text-white"  href="/guide">Guide</a>
            </li>
            <style>
            .nav-item a.nav-link:hover {
                color: black !important;
                background-color: white;
                border: 1px solid black;
              }
            </style>
            <li class="nav-item">
              <a  class="nav-link text-white"  href="/chart">Graphe</a>
            </li>
          </ul>
        </div>
      </nav> <br>
     <div class="body">
      <style>  
        .card-container {
        position: absolute;
       left:-150px ;
        transform: translate(40%, 30%);
        z-index: 100; /* Ajoutez cette ligne pour positionner les cartes au-dessus de l'image */
        margin:auto;
      }
    </style>
    
      <div class="card-container">
        <h1 style="color: white; font-weight: bold; font-style: italic;">"Consultez aisément l'archive complet de vos achats en un seul clic."</h1> 
       <br> <div class="row">
          <div class="col-md-3">
            <div class="card" style="border: 2px solid blue;">
              <img src="assets/fourni.jpg" class="card-img-top" alt="Image 1" style="height: 100px; width:190px;" >
              <div class="card-body ">
                <p class="card-text" style="font-size: 20px;"><strong>Fournisseur</strong></p>
                <a href="/fournisseur" class="btn btn-primary">Consulter</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="border: 2px solid blue;">
              <img src="assets/comm.png" class="card-img-top" alt="Image 2" style="height: 100px; width:190px;">
              <div class="card-body">
                <p class="card-text" style="font-size: 20px;"><strong>Commande</strong></p>
                <a href="/commande" class="btn btn-primary">Consulter</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="border: 2px solid blue;">
              <img src="assets/livr.jpg" class="card-img-top" alt="Image 3" style="height: 100px; width:190px;">
              <div class="card-body">
                <p class="card-text"  style="font-size: 20px;"><strong>Bon Livraison</strong></p>
                <a href="/livraison" class="btn btn-primary">Consulter</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" style="border: 2px solid blue;">
              <img src="assets/comm.jpg" class="card-img-top" alt="Image 4" style="height: 100px; width:190px;">
              <div class="card-body">
                <p class="card-text" style="font-size: 20px;"><strong>Bon Commande</strong> 
                </p>
                <a href="/reception" class="btn btn-primary">Consulter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-toolbar class="custom-toolbar">
      <div class="left-section ">
        <button mat-icon-button class="example-icon" aria-label="phone" style="margin-right: 80px;"> <!-- Ajout de la marge droite -->
            <mat-icon class="blue-icon">mail</mat-icon>
          <p class="pont" >m.hjira@cosumar.ma</p> 
        </button>
      </div>
      <div class="left-section ">
          <button mat-icon-button class="example-icon" aria-label="web">
              <mat-icon class="blue-icon">language</mat-icon>
              <a href="http://www.cosumar.ma/" target="_blank" class="web"> <p class="pont" style="margin-bottom: 8px">WEB: http://www.cosumar.ma/</p> </a>
            </button>
        </div>
      <div class="center-section">
        <button mat-icon-button class="example-icon" aria-label="Email">
          <mat-icon class="blue-icon">location_on</mat-icon>
          <p class="pont" style="margin-bottom: 8px">La, national 2, Sidi Bennour</p> 
        </button>
      </div>
       
          <div class="left-section ">
        <button mat-icon-button class="example-icon" aria-label="phone" style="margin-right: 80px;"> <!-- Ajout de la marge droite -->
          <mat-icon class="blue-icon">phone</mat-icon>
          <p class="pont" >0523346026</p> 
        </button>
      </div>
    </mat-toolbar>
      
      
      
      


