<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <h1 mat-dialog-title>Modifier une demande d'achat</h1>
  <form style="  padding: 10px;">
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">N° PROJET</label>
        <input type="text" class="form-control"  placeholder="" name="num_projet" [(ngModel)]="data.num_projet">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Type </label>
        <input  class="form-control"  placeholder=""  name="type" [(ngModel)]="data.type">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Titre</label>
          <input type="text" class="form-control"  placeholder="" name="titre" [(ngModel)]="data.titre">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Chef de projet </label>
          <input  class="form-control"  placeholder=""  name="chef" [(ngModel)]="data.chef">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Statut</label>
          <input type="text" class="form-control"  placeholder="" name="statut" [(ngModel)]="data.statut">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Confirmation commerciale</label>
          <input  class="form-control"  placeholder=""  name="confirm" [(ngModel)]="data.confirm">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Etude technique</label>
          <input type="text" class="form-control"  placeholder="" name="etude_tec" [(ngModel)]="data.etude_tec">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Observation</label>
          <input  class="form-control"  placeholder=""  name="observation" [(ngModel)]="data.observation">
      </div>
      </div>
    <div class="form-row">
    <div class="form-group col-md-6">
      <mat-form-field class="example-form-field">
        <mat-label>Date de création</mat-label>
        <input matInput [matDatepicker]="datepicker" name="date" [(ngModel)]="data.date_creat">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Annulé </button>
            <button mat-raised-button color="primary" matDatepickerApply>Validé</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
  </div>
  <div class="form-group col-md-6">
    <mat-form-field class="example-form-field">
      <mat-label>Date de validation </mat-label>
      <input matInput [matDatepicker]="datepicker" name="date" [(ngModel)]="data.date_valid">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Annulé </button>
          <button mat-raised-button color="primary" matDatepickerApply>Validé</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Acheteur</label>
      <input type="text" class="form-control"  placeholder="" name="acheteur" [(ngModel)]="data.acheteur">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Statut</label>
      <input  class="form-control"  placeholder=""  name="statut_a" [(ngModel)]="data.statut_a">
  </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Montant DEB</label>
      <input type="text" class="form-control"  placeholder="" name="montant" [(ngModel)]="data.montant">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">OI</label>
      <input  class="form-control"  placeholder=""  name="OI" [(ngModel)]="data.OI">
  </div>
  </div>
    <div style="display: inline-block;">
    <button type="submit" class="btn btn-primary" (click)="enregistrer()" >Modifier</button>
    </div>
    <div style="display: inline-block;">
    <div mat-dialog-actions>
    <button mat-button mat-dialog-close >Close</button>
  </div>
    </div>
 </form>

